# -----------------
# Źródła .NET / Visual Studio
# -----------------
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Bb]in/
[Oo]bj/
Properties/launchSettings.json

# -----------------
# Build-artefakty i logi
# -----------------
*.dll
*.pdb
*.log
logs/

# -----------------
# Node / JS
# -----------------
node_modules/
dist/
dist-ssr/
.cache/

# -----------------
# Konfiguracje i pliki tymczasowe
# -----------------
.env
.env.*
!.env.example
*.tmp
*.temp
*.db

# -----------------
# IDE / OS
# -----------------
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
