.article-header{
    background-color: #F8C8DC;
    color: #ffffff;
    border: 3px solid transparent;
    text-align: center;
    letter-spacing: 20%;
}

.section-content{
    margin-top: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.projects-header h2{
    margin: auto;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.projects-header input {
    position: absolute; 
    right: 0; 
    width: auto; 
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: #F8C8DC;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}

.projects-header input:hover {
    background-color: #f5aac9;
}