.kanban-container {
    padding: 1rem;
  }
  
  .kanban-header {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .kanban-board {
    display: flex;
    gap: 1rem;
    color: black;
  }
  
  .kanban-column {
    flex: 1;
    background: #fcfcfc;
    padding: 0.5rem;
    border-radius: 4px;
    min-width: 30%;
  }
  
  .task-card {
    background: #999999;
    margin: 0.5rem 0;
    padding: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    color: black;
  }
  
  button {
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
  }

  .kanban-container {
    min-width: 50%;
  }

